@import url("../../styles/variaveis-css.css");

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background: var(--color-navbar-bg);
    color: #fff;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(107, 51, 158, 0.25);
}

.footer h3 {
    color: #736cff;
}

.suporte {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.suporte a {
    color: #9bbcff;
    text-decoration: none;
    transition: 0.3s;
}

.suporte a:hover {
    color: #00e5ff;
    text-shadow: 0 0 10px #00e5ff;
    transform: translateX(5px);
}

.social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.social img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 12px #00e5ff);
}

.sobre-nos p {
    max-width: 250px;
    color: #b8b8ff;
    line-height: 1.5;
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    animation: glowMove 6s infinite alternate;
}

.patriocinadoresIcon{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.patriocinadores img{
    height: 35px;
    width:35px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.patriocinadores img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 12px #ffffff);
}

@keyframes glowMove {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}
